.App {
  justify-content: center;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  padding-top: 20px;
}

.authPage {
  text-align:center;
  grid-column: 2;
  color: white;
  padding: 20px 0px;
}

.login {
  padding-top: 20px;
  width: 100%;
}

.logInBtn {
  width:100%;
}
