.App {
  justify-content: center;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
}

.empty {
}

.main {
  padding: 0px 10px 10px 10px;
  background-color: #414141;
}

.film {
  display: grid;
  padding: 7px;
  border: 2px solid black;
  margin-top: 10px;
  background-color: #505050;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.film__Content {
  display: grid;
}

.movieCreate {
  display: grid;
  border: 2px solid black;
  margin-top: 15px;
  padding: 7px;
  background-color: #505050;
  margin-bottom: 50px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.sendBtn,
.changeBtn {
  grid-column: 2;
  grid-row: 5;
}

.deleteBtn {
  grid-column: 3;
  grid-row: 5;
}

.moviePhoto {
  grid-column: 3;
  grid-row: 1/6;
  border: 1px dashed grey;
  margin: 6px;
  aspect-ratio: 27/40;
  justify-self: center;
  background-color: #555555
}

.addPhoto {
  grid-column: 3;
  grid-row: 1/5;
  border: 1px dashed grey;
  margin: 6px;
  aspect-ratio: 27/40;
  justify-self: center;
  background-color: #555555
}

.fragment {
  padding: 4px;
  font-weight: 500;
  background-color: grey;
  border: 2px, solid, black;
  align-self: center;
}
